{% extends "base.html" %}
{% block content%}


{% endblock content%}
{% block panel %}
    <p>ADVERTISEMENTS ADVERTISEMENTS</p>
    <p>ADVERTISEMENTS ADVERTISEMENTS</p>
    <p>ADVERTISEMENTS ADVERTISEMENTS</p>
    <p>ADVERTISEMENTS ADVERTISEMENTS</p>
    <p>ADVERTISEMENTS ADVERTISEMENTS</p>
    <p>ADVERTISEMENTS ADVERTISEMENTS</p>
    <p>ADVERTISEMENTS ADVERTISEMENTS</p>
    <p>ADVERTISEMENTS ADVERTISEMENTS</p>
    <p>ADVERTISEMENTS ADVERTISEMENTS</p>
    <p>ADVERTISEMENTS ADVERTISEMENTS</p>
    <p>ADVERTISEMENTS ADVERTISEMENTS</p>
    <p>ADVERTISEMENTS ADVERTISEMENTS</p>
    <p>ADVERTISEMENTS ADVERTISEMENTS</p>
    <p>ADVERTISEMENTS ADVERTISEMENTS</p>
    <p>ADVERTISEMENTS ADVERTISEMENTS</p>
{% endblock panel %}